{% extends 'base.html.twig' %}

{% block title %}Détail du genre{% endblock %}

{% block body %}
    <h1>{{ genre.name }}</h1>

    <a class="btn btn-info" href="{{ path('admin_genre_edit', {"id" : genre.id}) }}">éditer</a>
     <a class="btn btn-danger" href="{{ path('admin_genre_delete', {"id" : genre.id}) }}">supprimer</a>

    <h2>Liste des film associés</h2>
    <ul class="list-group list-group-flush">
        {% for movie in genre.movies %}
            <li class="list-group-item">{{ movie.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}